In [3]:
Y = 'adebowale'
Y.capitalize()

'Adebowale'

In [11]:
x = 'america'
x.capitalize()

'America'

In [12]:
Y = 'I ADORE YOU'
Y.casefold()

'i adore you'

In [13]:
X = 'FLEEING EAGLES'
X.casefold()

'fleeing eagles'

In [17]:
S = 'NN 450 MUS'
S.isalpha()

False

In [24]:
T = 'AGO77238'
T.isalpha()

False

In [ ]:
# Write a Python program to sum all the items in A
A = [5, 8, 15, 7, 3]

In [ ]:
# Write a program that prints the numbers from 1 to 100. But for multiples of three print “Multiples of 3” instead of the number
and for the multiples of five print “Multiples of 5”.
For numbers which are multiples of both three and five print “Multiples of 3 and 5”.

In [3]:
for num in range (1,101):
 if num % 3 == 0 and num % 5 == 0:
    print ('multiples of 3 and 5')  
 elif num % 3 == 0:
    print ('multiples of 3')
 elif num % 5 == 0:
    print ('multiples of 5')
 else: print (num)

1
2
multiples of 3
4
multiples of 5
multiples of 3
7
8
multiples of 3
multiples of 5
11
multiples of 3
13
14
multiples of 3 and 5
16
17
multiples of 3
19
multiples of 5
multiples of 3
22
23
multiples of 3
multiples of 5
26
multiples of 3
28
29
multiples of 3 and 5
31
32
multiples of 3
34
multiples of 5
multiples of 3
37
38
multiples of 3
multiples of 5
41
multiples of 3
43
44
multiples of 3 and 5
46
47
multiples of 3
49
multiples of 5
multiples of 3
52
53
multiples of 3
multiples of 5
56
multiples of 3
58
59
multiples of 3 and 5
61
62
multiples of 3
64
multiples of 5
multiples of 3
67
68
multiples of 3
multiples of 5
71
multiples of 3
73
74
multiples of 3 and 5
76
77
multiples of 3
79
multiples of 5
multiples of 3
82
83
multiples of 3
multiples of 5
86
multiples of 3
88
89
multiples of 3 and 5
91
92
multiples of 3
94
multiples of 5
multiples of 3
97
98
multiples of 3
multiples of 5

In [ ]:
# Write a program that prints out the sum of values between 1 and 100.

In [4]:
sum = 0
for i in range (1, 101):
    sum+=i
print (sum)

5050

In [5]:
Number = int(input('mention a number?'))
if 'even':
    print ('even')
else:
    print ('odd')

mention a number?10
even

In [ ]:
Write a Python program to convert temperatures to and from celsius, fahrenheit. [Formula : c/5 = f-32/9 [ where c = temperature in celsius and f = temperature in fahrenheit]

In [ ]:
c = float(input('temprature in celsius'))
f = float(input('temprature in fahrenheit'))
if c/5 == f-32/9:
 print (f)

temprature in celsius100